#chart_window {
    position: absolute;
    max-width: 1200px;
    width: 95%;
    min-height: 930px;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

.chart_window_header {
    display: flex;
    width: 100%;
    height: 50px;
    z-index: 2;
    cursor: pointer;
}

.chart_window_header_background {
    position: absolute;
    background-color: rgba(64, 83, 101, 0.95);
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: -1;
    display: none;
}

.tab_chart_window_header:hover{
    background-color:#202020 ;
}

#tab_3hr_table,
#tab_weeks,
#tab_curve_other,
#tab_curve_temper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #00ff00;
}


.highcharts,
.three{
    background-color: #fff;
    
    height: 500px;
    border-radius: 0 0 10px 10px;
}
.week {
    background-color: #fff;
    /* height: calc(100vh - 150px);   根據卷軸大小調整 */
    border-radius: 0 0 10px 10px;
}
.wrapper{
    border: 0;

    height: 80vh;
    border-radius: 10px;
    overflow-y: scroll;

}
.highlighted {
    border: 3px solid #00ff00;
    background-color: #202020;
    border-radius: 10px 10px 0 0;
}

.chartContainer {
    width: 100%;
    height: 400px;
    padding-top: 50px;
}

.dialogMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    opacity: 0.5;
    z-index: 40;
    cursor: pointer;
}