#chart_window {
    position: absolute;
    max-width: 1200px;
    width: 95%;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

.chart_window_header {
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    z-index: 2;
}

.chart_window_header :hover {
    cursor: pointer;
}
.chart_window_header_background {
    position: absolute;
    background-color: rgba(64, 83, 101, 0.95);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: -1;
    display: none;
}
#tab_3hr_table,
#tab_weeks,
#tab_body,
#tab_body1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #00ff00;
}
#tab_3hr_table {
    border-radius: 10px 0 0 10px;
}
#tab_body,
#tab_body1 {
    border-radius: 0 10px 10px 0;
}

.highcharts,
.three,
.week {
    background-color: #fff;
    height: 80vh;
    border-radius: 10px;
    overflow-y: scroll;
}

.highlighted {
    border: 3px solid #00ff00;
    background-color: #202020;
}

.chartContainer {
    width: 100%;
    height: 400px;
    padding-top: 50px;
}

.dialogMask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #000000;
    opacity: 0.5;
    z-index: 40;
    cursor: pointer;
}