html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background-color: #2994eb;
    font-size:20px;
    position: relative;
    transition: 0.5s;
    height: 100vh;
}

/*---------------------------------------- nav */
.nav{
    background-color:rgb(250, 250, 250,0.7);
    height: 80px;
    padding: 10px;
    transition: 0.8s;
    display: flex;
    padding: 10px 20px;
}
.nav_image{
    height: 90px;
}
.title{
    font-family: Arial;
    font-weight: 600;
    font-size: 50px;
    color: transparent; /* 文字顏色設定透明 */
    background-image: linear-gradient(45deg,#2a04ff ,#05a3f8, #05f862 50%, #86ff04 55%,#fbff04); /* 設定漸層角度及顏色 */
    -webkit-background-clip: text; /* 背景裁剪成文字的前景色 */
    background-clip: text;
    cursor: pointer;
    margin: auto 0;
    padding-left: 20px;
}
/*---------------------------------------index_container */
.index_container{
    margin: auto;
    height:calc(100% - 130px);
}
p{
    color: #00FF00;
}
#default_map{
    margin: 30px auto 0;
    padding: 20px 0 50px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}
#leftInformation{
    display: grid;
    grid-template-areas: 
    'header header header button'
    'main main main main'
    'left left right right';
    gap: 10px;
    width: 500px;
}
.header { grid-area: header; }
#toggleButton { grid-area: button; }
.today { grid-area: main; }
.tomorrow { grid-area: left; }
.later { grid-area: right; }

.header{
    background-color: rgba(64, 83, 101, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 28px;
    border-radius: 10px;
    transition: 0.5s;
}
.today{
    background-color: rgba(64, 83, 101, 0.95);
    display: flex;
    align-items: center;
    width: 500px;
    height: 350px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.5s;
}
.todayLeft{
    height: 100%;
    text-align: center;
    flex: 1;
    display: grid;
    grid-template-rows: 280px 70px; 
}

.city_menu_contianer{
     /* 目前height 280px */
}
.city_menu{
    display: none;
    width: 130px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 21px 0 0 0;
}
.town_menu{
    display: inline-block;
    width: 130px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.town_menu_button{
    background-color: #c0c2c0;
    width: 130px;
    height: 25px;
    margin: 5px 0 10px 0;
    border-width: 0;
    padding: 0;
    padding-left: 5px;
    cursor: pointer;
}
.town_menu_button:hover{
    opacity: 0.8;
}
.todayRight{
    height: 100%;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.city{
    margin: 0 0 10px 0;
    font-size: 33px;
    font-weight: 700;
}
.todayRight>div{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todayRight>div>img{
    width: 130px;
}
.tomorrow{
    background-color: rgba(64, 83, 101, 0.95);
    text-align: center;
    width: 245px;
    height: 180px;
    border-radius: 10px;
    padding-top: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.tomorrow:hover{
    opacity: 0.8;
}
.tomorrow>img{
    width: 87px;
    margin: 15px 0;
}
.later{
    background-color: rgba(64, 83, 101, 0.95);
    text-align: center;
    width: 245px;
    height: 180px;
    border-radius: 10px;
    padding-top: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.later:hover{
    opacity: 0.8;
}
.later>img{
    width: 87px;
    height: 71.167px;
    margin: 15px 0;
}
/*---------------------------------------- image */
.background_image_1{
    width: 100%;
    max-height: 1000px;
    position: fixed;
    z-index: -10;
    bottom: 0;
}
/* ---------------------------screen 1250px */
@media screen and (max-width: 1250px) {
    .index_container{
        height: auto;
    }
    #leftInformation{
        display: block;
        width: 90%;
        max-width: 1000px;
    }
    .header,.today,.tomorrow,.later{
        width: 100%;
        margin: 10px 0;
    }
    .city_menu{
        display: inline-block;
    }
    .town_menu_contianer{
        display: grid;
        justify-content: center;
    }
}
@media screen and (max-width: 599px) {
    .header{
        font-size: 25px;
    }
    .title{
        font-size: 40px;
    }
}
