.none {
    display: none;
}

#default_map svg {
    width: 500px;
    height: 630px;
}
#default_map svg a {
    cursor: pointer;
}

/* 附註：index.html 內沒有is-active，這個CSS疑似沒用，待確認
#default_map svg a.is-active path {
    fill: #fb2a00;
} */

#default_map svg path {
    fill: #c7f6f5;
    stroke: #0428f1;
    stroke-width: 1px;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0 !important;
}
#default_map svg path:hover {
    fill: #00fbe6;
}

/* 跑馬燈 */
.marquee_container {
    position: absolute;
    top: 100px;
    width: 100%;
    background-color: rgba(64, 83, 101, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
}
.marquee {
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
}

.marquee p {
    display: inline-block;
    margin: 0;
    padding: 0;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 1250px) {
    #default_map svg {
        display: none;
    }
}
